/* Start global rules */

body{
	height: auto;
	direction: rtl;
	font-family: 'reem kufi', sans-serif;
}
/* Start navbar */
.bg-light{
	background-color: #533623!important;
}
.navbar .navbar-nav {
	align-items: center;
	justify-content: space-between;
	margin: 0;
}
.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-nav .nav-link:hover{
	color: #f1f1f1;
	margin: 0 0.1rem;
}
.navbar .navbar-brand,
.navbar .navbar-brand:hover{
	color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
	font-family: 'Amostely Signature', cursive;
}
.social-link a{
	margin: 0 0.5rem
}
.social-link i{
	color: #f1f1f1;
	font-size: 18px
}
/* End navbar */
/* Start header-protfolio */
.header-protfolio{
    background: url('../img/header01.jpg') no-repeat top center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    position: relative;
    color: #f1f1f1;
}
.header-protfolio .overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0; 
    padding-top: 180px;
}
.header-portfolio h1{
    font-size: 40px;
    font-weight: normal;
	text-shadow: 1px #D2D2D2;
}
.header-portfolio h1~ .lead{
    font-size: 25px;
	text-shadow: 3px 1px 1px #D2D2D2;
}
.header-portfolio .info{
    text-align: right;
}
/* End header-protfolio */

/* Start form */
.contact-us hr{
    display: block;
    width: 100px;
    height: 2px;
    margin-bottom: 35px;
}
.contact-us h2{
	margin: 120px 0 0 0;
    color: #533623;
}
.contact-us .contact-form{
    padding: 20px 0;
    color: #666;
    margin-top: 40px;
}
.contact-form{
	margin: 20px auto;
}
.contact-form .alert-success {
    position: relative;
    color: #533623;
    background-color:#533623;
    border-color: #533623;
    margin: 0 180px 10px 0;
    text-align: -webkit-auto;
}
.contact-form .form-group{
	margin-bottom: 0;
	position: relative;
}
.contact-form .asterisx{
	color: #e12121;
	float: right;
    height: 0;
    font-size: 20px;
    position: absolute;
    right: 19px;
    top: 8px;
}
.contact-us .alert-dark {
    margin: 0 17% 22px 0;
    color: #1b1e21;
    background-color: #d6d8d9;
    width: auto;
}
.contact-us .contact-btn{
    margin: 30px auto;
    width: 10vw;
    padding: 8px 20px;
    border: 1px solid #533623;
	color: #fff;
    background-color: #533623;
    border-radius: 8px;
    font-size: 16px;
}
.contact-us .form-group input[type="text"],
.contact-us .form-group input[type="email"]{
    margin-bottom: 10px;
    box-shadow: none;
    border: 0.5px solid #533623;
    border-radius: 0;
}
.contact-us .form-group textarea{
    height: 158px;
    box-shadow: none;
    border: 0.5px solid #533623;
    border-radius: 0;
}
.contact-us .bigicon{
    font-size: 35px;
    color: #533623;
}
/* End form */

/* Start gallery-iamges */
.gallery{
    margin: 100px 0;
}
.gallery ul{
    margin-top: 40px;
    margin-bottom: 50px;
}
.gallery ul li{
    text-align: center;
    color: #533623;
    border: 1px solid #533623;
    padding: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    
}
.gallery ul li.active{
    background-color: #cc181e;
    border: 2px solid #cc181e;
    color: #f1f1f1;   
}
.gallery ul li:hover{
    cursor: pointer;
    color: 	#559900;
}
.gallery .shuffle-images .row{
    margin: 0px;
}
.gallery .shuffle-images .row .col-sm-3{
    padding: 0;
	-webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
.gallery .row .img-fluid{
	height: auto;
    width: 100%;
	padding: 10px;
}
.gallery .shuffle-images .row{
    margin: 0px;
}
.gallery .shuffle-images .lightbox-image{
	position: relative;
	overflow: hidden;
    padding: 0;
	-webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
.gallery .row .col-sm-3 .img-fluid{
	height: auto;
    width: 100%;
	padding: 10px;
}
.gallery .row .col-sm-3 .img-fluid{
	display: block;
	position: relative;
	-webkit-transition: all 0.35s;
	transition: all 0.35s;
}
.gallery .row .col-sm-3 .img-fluid:hover{
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="0.6" /><feFuncG type="linear" slope="0.6" /><feFuncB type="linear" slope="0.6" /></feComponentTransfer></filter></svg>#filter');
  filter: brightness(0.6);
  -webkit-filter: brightness(0.6);
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
/* Start Image Lightbox */
.lightboxOverlay {
	background-color: #252120;
}

/* End Image Lightbox */
/* End gallery-images */

/* Start video-gallery ** motion-graphic,montage,production ** */
.video-gallery{
	margin-top: 20vh;
	margin-bottom: 20vh;
}
.video-gallery hr{ 
    display: -webkit-inline-box;
    width: 100px;
    height: 2px;
    background-color: #f1f1f1;
    margin: 25px;
}
.video-gallery .video{
	margin-bottom: 10px;
    padding: 2px;
}   
/* End video-gallery ** motion-graphic,montage,production ** */ 

/* Start courses */
.courses{
	 margin: 100px 0;
}
.courses .courses-images .row{
    margin: 0px;
}
.courses .courses-images .row .col-md-6 {
    padding: 0;
	-webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
.courses .courses-images .row .span{
	font-size: 22px;
	color: #666;
}
.courses .row .img-fluid{
	height: 350px; 
    width: 100%;
	padding: 10px;
}
/* End courses */

/* Start footer */
.footer{
	background-color: #533623;
    color: #f1f1f1;
    height: 35px;
    border-top: 1px solid #533623;
	position: fixed;
	bottom: 0;
	padding-top: 8px;
}
.footer .copyright{
	padding: 5px;
	font-size: 10px;
}
/* End footer */

/*******************************************************/
/* Start responsive media queryie */
/* Extra small devices (portrait phones, less than 576px)*/
/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
	.navbar .navbar-brand,
	.navbar .navbar-brand:hover{
		font-size: 1.2rem;
    	font-weight: 400;
	}
	.navbar.navbar-light .nav-item a, .navbar.navbar-light .nav-item a:hover{
		font-size: 14px;
	}
	.contact-us .bigicon{
		float: right;
	}

}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
	.navbar-expand-sm .navbar-nav{
		display: ;
	}
	.navbar.navbar-light .nav-item a,
	.navbar.navbar-light .nav-item a:hover{
}
	.header-portfolio .info h1{
		font-size: 30px;
}
	.header-portfolio h1 .lead{
    font-size: 25px;
	text-shadow: 3px 1px 1px #D2D2D2;
}
	.header-portfolio .info{
    text-align: right;
}
/* End header-protfolio */
}
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
	
}
/* End Medium Screen Rules */




